/* SUMMARY
    1. GLOBAL
    2. LAYOUT
    3. SECTION
    4. FOOTER
*/

body {
    width: 1440px;
    height: 3718px;
    top: -2.2737367544323206e-13px;
    left: -1.1368683772161603e-13px;
    background-image: url(images/background-image.png);
    background-size: 1440px 1093px;
    background-repeat: no-repeat;
    background-position: top-center;
}

.header,
.main-part {
    position: relative;
    z-index: 1;
}

.main-part {
    width: 1440px;
    height: 1093px;
}


/** Header **/

.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1103.4078369140625px;
    height: 29.46099090576172px;
    top: 35.02320098876976px;
    left: 171.5922088623048px;
    padding: 0px 0.00006103515625px 0px 0px;
}


/***************************************************************** logo *****/

.logo {
    width: 167.01577758789062px;
    height: 29.46099090576172px;
    top: 35.02320098876976px;
    left: 171.5922088623048px;
}

.logo-text {
    width: 111.83399963378906px;
    height: 12.581999778747559px;
    top: 41.54400253295921px;
    left: 226.77398681640636px;
}


/************************************************************* menu *******/

.menu {
    width: 234px;
    height: 15px;
    top: 37.00000000000023px;
    left: 1041px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-item-1 {
    width: 50px;
    height: 15px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}

.nav-item-2 {
    width: 45px;
    height: 15px;
    left: 102px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}

.nav-item-3 {
    width: 34px;
    height: 15px;
    left: 200px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}

.heading-1 {
    width: 684px;
    height: 151px;
    top: 220.00000000000023px;
    padding-left: 377.0000000000001px;
    padding-top: 40px;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-weight: 700;
    line-height: 151px;
    letter-spacing: 0px;
}

.heading,
.heading-1,
.pro-heading {
    text-align: center;
}

.header,
.menu,
.heading-1,
.taglines,
.pros {
    color: #FFFFFF;
}

.pro-heading {
    padding-top: 5%;
    color: #FFFFFF;
}

.pro-heading .purple {
    color: #C271FF;
}

.button {
    width: 162px;
    height: 44px;
    top: 419.0000000000002px;
    left: 639.0000000000001px;
    background: #C271FF;
    padding: 0.5%;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.button-text {
    color: #FFFFFF;
    width: 121px;
    height: 18px;
    top: 13px;
    left: 20px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}

.taglines {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

.tagline-1,
.tagline-2,
.tagline-3 {
    height: 20px;
    top: 361.0000000000002px;
    left: 593.0000000000001px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 4%;
}

.tagline-1 {
    width: 52px;
}

.tagline-2 {
    width: 36px;
}

.tagline-3 {
    width: 49px;
}


/*************************** from the pros *****************************/

.the-pros {
    margin-top: 20px;
}

.pros {
    display: flex;
    justify-content: center;
    width: 1009px;
    height: 237px;
    top: 758.0000000000002px;
    padding-left: 217.0000000000001px;
    padding-top: 3%;
}

.pro-1,
.pro-2,
.pro-3,
.pro-4 {
    align-items: center;
    flex: 1;
    width: 150px;
    height: 237px;
    top: 758.0000000000002px;
    padding: 20px;
}

.pro-1 {
    left: 217.0000000000001px;
}

.pro-2 {
    left: 506.0000000000001px;
}

.pro-3 {
    left: 787.0000000000001px;
}

.pro-4 {
    left: 1076px
}

.author {
    width: 150px;
    height: 27px;
    top: 160px;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
}

.comment {
    width: 150px;
    height: 48px;
    top: 189px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}


/********************** quote *************************/

.quote {
    width: 1440px;
    height: 392px;
    top: 1093.0000000000002px;
    left: -0.9999999999998863px;
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-author {
    flex: 0 0 auto;
    /* margin-right: 10px; */
    padding-left: 250px;
    padding-right: 50px;
}

.container {
    flex: 1 1 auto;
    width: 730px;
    height: 158px;
    top: 1203.0000000000002px;
    left: 472.0000000000001px;
    color: #FFFFFF;
}

.quote-info {
    display: flex;
    flex-direction: column;
}

.the-quote {
    margin: 0;
}

.person-name,
.presenter {
    margin: 0;
}


/******************** tutorials *******************/

.popular-tutorials {
    width: 1228px;
    height: 450px;
    top: 1572.0000000000002px;
    left: 106.00000000000011px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.tutorial-heading {
    width: 294px;
    height: 40px;
    left: 150px;
    color: #071629;
    padding-top: 10px;
}

.the-tutorial {
    display: flex;
    padding-left: 130px;
}

.diagonal-tutorial,
.sad-tutorial,
.natural-tutorial,
.happy-tutorial {
    flex: 1;
    width: 255px;
    height: 335px;
    top: 115px;
    padding-left: 15px;
}

.diagonal-tutorial {
    left: 58px;
}

.sad-tutorial {
    left: 344px;
}

.natural-tutorial {
    left: 629px;
}

.happy-tutorial {
    left: 914px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.play {
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 64px;
    top: 45px;
    left: 96px;
    opacity: 0.8603515625px;
}


/* .thumbnail {
    width: 255px;
    height: 154px;
    border-radius: 5px 5px 0px 0px;
} */

.diagonal-header,
.natural-header,
.sad-header,
.happy-header {
    height: 20px;
    top: 172px;
    left: 13px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.diagonal-header {
    width: 106px;
}

.happy-header {
    width: 89px;
}

.natural-header {
    width: 97px;
}

.sad-header {
    width: 70px;
}

.tutorial-quote {
    width: 242px;
    height: 48px;
    top: 199.5999755859375px;
    left: 13px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #07162980;
}

.massey {
    display: flex;
    align-items: center;
}

.p-massey-avatar {
    width: 30px;
    height: 30px;
    top: 261px;
    margin-left: 13px;
}

.p-massey {
    width: 86px;
    height: 27px;
    top: 263px;
    left: 56px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 20px;
    color: #C271FF;
}

.rating {
    width: 107px;
    height: 15px;
    top: 305px;
    left: 13px;
}

.mins {
    width: 34px;
    height: 27px;
    top: 297px;
    left: 199px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: right;
    color: #C271FF;
}


/* membership */

.membership {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 1440px;
    height: 502px;
    background: #071629;
}

.membership-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
}

.first,
.second,
.third,
.fourth {
    width: 257px;
    height: 153px;
    top: 168px;
    padding: 10px;
    margin: 10px;
    padding-bottom: 5%;
    color: #FFFFFF;
}

.membership-heading {
    width: 234px;
    height: 40px;
    top: 70px;
    left: 617.0000000000001px;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.purple {
    color: #C271FF;
}

.first {
    left: 164.0000000000001px;
}

.second {
    left: 448.0000000000001px;
}

.third {
    left: 733.0000000000001px;
}

.fourth {
    left: 1019.0000000000001px;
}

.container-heading {
    width: 256px;
    height: 26px;
    top: 62px;
    left: 0.5px;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.membership-smiley {
    width: 43.666015625px;
    height: 35.353187561035156px;
    top: 0.02783203125px;
    left: 106.71066284179688px;
}

.container-content-1,
.container-content-2,
.container-content-3,
.container-content-4 {
    height: 52px;
    margin-top: 101px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.container-content-1 {
    width: 212px;
    left: 22.5px;
}

.container-content-2 {
    width: 221px;
    left: 18px;
}

.container-content-3,
.container-content-4 {
    width: 215px;
    left: 21px;
}

.last-button {
    width: 162px;
    height: 44px;
    top: 406px;
    left: 639.0000000000001px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    cursor: pointer;
}

.member-button {
    background: #C271FF;
    width: 162px;
    height: 44px;
    top: 419.0000000000002px;
    left: 639.0000000000001px;
    padding: 5px 5px;
    border-radius: 15px;
    text-decoration: none;
}

.button-text {
    color: #FFFFFF;
    width: 121px;
    height: 18px;
    top: 13px;
    left: 20px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
}


/***************** FAQ ******************/

.faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 920px;
    height: 707px;
    top: 2678px;
    left: 249.0000000000001px;
}

.faq-heading {
    width: 136px;
    height: 75px;
    left: 407px;
    font-family: Source Sans Pro;
    font-size: 60px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 0px;
    margin-top: 0%;
    padding-top: 50px;
    padding-left: 300px;
}

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
}

.faq-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.faq-item-1,
.faq-item-2,
.faq-item-3,
.faq-item-4 {
    align-items: center;
    width: 350px;
    height: 242px;
    padding-bottom: 40px;
}

.faq-item-1,
.faq-item-2 {
    top: 149px;
}

.faq-item-2 {
    left: 570px;
}

.faq-item-3,
.faq-item-4 {
    top: 465px;
}

.faq-item-4 {
    left: 570px
}

.item-heading-1,
.item-heading-2,
.item-heading-3,
.item-heading-4 {
    width: 145px;
    height: 20px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #071629;
}

.faq-content-1,
.faq-content-2,
.faq-content-3,
.faq-content-4 {
    width: 350px;
    height: 192px;
    top: 50px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #07162980;
}


/*** footer  ***/

.footer {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials {
    display: flex;
    padding: 1000px;
    width: 130px;
    height: 30px;
    top: 90px;
    left: 1070px;
}

.fb,
.twitter,
.ig {
    padding: 8px;
}

.logo-text {
    color: #FFFFFF;
}

.footer-container {
    width: 1440px;
    height: 249px;
    top: 3469px;
    background-color: #071629;
    padding-top: 8%;
    padding-left: 8%;
}

.footer-container .footer {
    width: 169px;
    height: 30px;
    padding-top: 95px;
    left: 165.0000000000001px;
    padding: 0.02319999970495701px 0px 0.5158091187477112px 0.5922138690948486px;
}

.footer-copyright {
    width: 96px;
    height: 15px;
    padding-top: 160px;
    padding-left: 620.0000000000001px;
    opacity: 0.3516787588596344px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
}